*{
  margin: 0px;
  padding: 0px;

}
.git1{
    color: red;
    font-style: italic;
    font-weight: bolder;
    text-align: center;
}
.food{
    background-color: rgb(157, 67, 34);
    height: 400px;
    padding: 80px;
    width: 600px;
    margin: 40px 30px ;

}

.button{
    text-align: center;
    background-color: hotpink;
    padding: 20px;
    color: #fff;
    border: 5px solid green;
    border-radius: 6px;
    margin: ;

}

button p{
    text-align: center;
}